* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(255,170,255);
    background: linear-gradient(135deg, rgba(255,170,255,1) 0%, rgb(155, 83, 184) 70%);
    color: #F3DAD8;
    font-family: "Poppins" ,sans-serif;
    min-height: 100vh;
}

h1 {
    text-shadow: 5px 5px 5px rgb(97, 97, 97);
    transition: 0.5s;
}

h1:hover {
    text-shadow: none
}

header {
    font-size: 1.5rem;
}

header, form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input, form button {
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: #F3DAD8;
}

form button {
    color: #ffaaff;
    background-color: #F3DAD8;
    cursor: pointer;
    transition: all 0.3s ease;
}

form button:hover {
    background: #ffaaff;
    color: #F3DAD8;
}

.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list {
    min-width: 30%;
    list-style: none;
}

.todo {
    margin: 0.5rem;
    background: #F3DAD8;
    color: black;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
}

.todo li{
    flex: 1;
}

.trash-btn, .complete-btn {
    background: #ffaaff;
    color: #F3DAD8;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
}

.complete-btn {
    background: #95fd95
}

.todo-item {
    padding: 0rem 0.5rem;
}

.fa-trash, .fa-check{
    pointer-events: none;
}

.completed {
    text-decoration: line-through;
    opacity: 0.6;
}

.fall {
    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;
}

.select {
    margin: 1rem;
    position: relative;
    overflow: hidden;
}

select {
    background: #F3DAD8;
    font-size: 1rem;
    color: #ffaaff;
    width: 10rem;
    cursor: pointer;
    padding: 1rem;
}

.select::after {
    content: "\25BC";
    position: absolute;
    background: #ffaaff;
    top: 0;
    right: 0;
    padding: 1rem;
    pointer-events: none;
    transition: all 0.3s ease;
}

.select:hover::after{
    background: #ffc1ff;
    color: #F3DAD8;
}